
.articleCard {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 200px;
    margin-bottom: 20px;
    max-height: 100%;
    padding: 15px 25px;
    position: relative;
}

.articleCardImage {
    display: flex;
    height: 100%;
    margin: auto;
    max-width: 400px;
}

.articleCardImage img{
    height: auto;
    width: 100%;
}

.articleCardContent {
    flex-shrink: 0;
}